*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body{
    background: rgb(1, 33, 51);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap:1.2rem ;
}
.input_group{
    
}
label{
    color:#fff;
}
input, textarea{
    width: 100%;
    border: 2px solid #fff;
    resize: none;
    padding: 10px;
    border-radius: 2px;

    &:focus{
        outline: none;
    }
}

input{
    height: 2rem;
}

textarea{
    height: 10rem;
}

button{
    /* width: 3rem; */
    margin: 0 0 0 auto;
    height: 2rem;
    background: #00ff26;
    padding: 10px 20px 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
