.banner_section{
    width: 100%;
    height: 30vh;
    background: url('../public/002.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 2;
}

.banner_content{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 4;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.filter{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.596);
    width:100%;
    height:100%;
    z-index: 3;
    top: 0;
}
.banner_subtitle{
    font-size: 2rem;
    color: rgb(255, 255, 255);
    text-align: center;
}

.banner_description{
    color: rgb(196, 196, 196);
}

