.features_section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.features_section .section_subtitle{
    width: 80%;
     margin: 0 auto;
}
.features_header{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.section_container{
    width: 80%;
    margin: 0 auto;
}
.features_grid{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 40px;
}
.feature_card{
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
}
.feature_card h3{
    margin-bottom: 15px;
    color: #333;
}
.feature_card p{
    color: #666;
    font-size: 14px;
    line-height: 1.5;
}

/* =========================
   MEDIA QUERIES
   ========================= */
/* Small devices (≥576px) */
@media (max-width: 576px) {
    .features_section{
    padding-top: 4rem;
    padding-bottom: 4rem;
    height: fit-content;
}

.section_container{
    width: 90%;
    margin: 0 auto;
}
  .features_grid{
    grid-template-columns: 1fr;
}
.features_section .section_subtitle{
    width: 100%;
}
.features_header{
    width: 100%;
}
}
/* Small devices (≥576px) */
@media (min-width: 576px) and (max-width: 768px) {
     .features_section{
    padding-top: 4rem;
    padding-bottom: 4rem;
    height: fit-content;
}
.section_container{
    width: 90%;
    margin: 0 auto;
}

  .features_grid{
    grid-template-columns: 1fr;
}
.features_section .section_subtitle{
    width: 100%;
}
}

/* Medium devices – Tablets (≥768px) */
@media (min-width: 768px) {
  
}

/* Large devices – Laptops (≥992px) */
@media (min-width: 992px) {
  
}

/* Extra large devices – Desktops (≥1200px) */
@media (min-width: 1200px) {
  
}

