/* hero section */
.hero_section {
	width: 100%;
	height: 100vh;
	background-color: var(--color-surface);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	overflow: hidden;
	gap: 4rem;
}

.image_wrap {
	width: 80%;
	height: 500px;
	margin: 0 auto;
	border-radius: 20px;
	margin-bottom: -400px;
}
img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
	border-radius: 20px;
}

.content {
	text-align: center;
	margin-top: 4rem;
}
.content p {
	width: 70%;
	font-size: 0.95rem;
	color: var(--text-color2);
	margin: 0 auto;
}
.title {
	font-weight: 400;
	font-size: 1.8rem;
	color: var(--title-color);
}
.title em {
	color: var(--emphasize_color);
}
.ctn {
	padding: 8px 16px;
	background-color: var(--btn-bg);
	border: none;
	border-radius: 5px;
	margin-top: 0.9rem;
	color: var(--btn-color);
	cursor: pointer;
	transition: 0.5s ease all;

	&:hover {
		background-color: var(--hovered-link-color);
	}
}

/* =========================
   MEDIA QUERIES
   ========================= */
/* Small devices (≥576px) */
@media (max-width: 576px) {
	.hero_section {
        justify-content: start;
		height: 90vh;
		gap: 3rem;
	}
	.title {
		font-weight: 400;
		font-size: 1.2rem;
	}
    .content{
        margin-top: 8rem;
    }
	.content p {
		width: 95%;
		font-size: 0.95rem;
	}
	.image_wrap {
		width: 95%;
		height: 300px;
        margin-top: 6rem;
	}
}
/* Small devices (≥576px) */
@media (min-width: 576px) and (max-width: 768px) {
}

/* Medium devices – Tablets (≥768px) */
@media (min-width: 768px) {
}

/* Large devices – Laptops (≥992px) */
@media (min-width: 992px) {
}

/* Extra large devices – Desktops (≥1200px) */
@media (min-width: 1200px) {
}
