.section_content_wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}
.how_it_works_steps{
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 1;
}
.step_card{
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 15px;
    /* box-shadow: 0 2px 5px rgba(0,0,0,0.1); */
    display: flex;
    align-items: center;
    gap: 15px;
}
.step_icon{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #4CAF50;
    border-radius: 50%;
}
.step_icon i{
    color: #fff;
    font-size: 24px;
}
.step_card h3{
    margin-bottom: 8px;
    font-size: 0.95rem;
    color: var(--headline-color);
}
.step_card p{
    color: #666;
    font-size: 14px;
    line-height: 1.5;
}
.image_warp{
    flex: 1;
    height: 75vh;
}
.image_warp img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.how_it_works_header{
    text-align: center;
    margin-bottom: 40px;
}
.how_it_works_header .section_title{
    font-size: 28px;
    color: #222;
    margin-bottom: 10px;
}
.how_it_works_header .section_subtitle{
    font-size: 16px;
    color: #555;
}
