.how_it_works_section{
    display: flex;
    align-items: center;
    justify-content: center;
}
.section_content_wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}
.how_it_works_steps{
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 1;
}
.step_card{
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 15px;
    /* box-shadow: 0 2px 5px rgba(0,0,0,0.1); */
    display: flex;
    align-items: center;
    gap: 15px;
}
.step_icon{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #fdffdf;
    border-radius: 50%;
}
.step_icon i{
    color: #00716a;
    font-size: 24px;
}
.step_card h3{
    margin-bottom: 8px;
    font-size: 0.95rem;
    color: var(--headline-color);
    font-weight: 400;
}

.image_warp{
    flex: 1;
    height: 75vh;
}
.image_warp img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    /* box-shadow: 0 2px 5px rgba(0,0,0,0.1); */
}
.how_it_works_header{
    text-align: start;
    margin-bottom: 40px;
}



/* =========================
   MEDIA QUERIES
   ========================= */
/* Small devices (≥576px) */
@media (max-width: 576px) {
  .how_it_works_section{
    height: fit-content;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.section_content_wrap{
    flex-direction: column;
    gap: 40px;
}
}
/* Small devices (≥576px) */
@media (min-width: 576px) and (max-width: 768px) {
  
}

/* Medium devices – Tablets (≥768px) */
@media (min-width: 768px) {
  
}

/* Large devices – Laptops (≥992px) */
@media (min-width: 992px) {
  
}

/* Extra large devices – Desktops (≥1200px) */
@media (min-width: 1200px) {
  
}

