*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}
a{
    font-size: 0.95rem;
}

.section{
    width: 100%;
    height: 100vh;
}


/* =========================
   MEDIA QUERIES
   ========================= */
/* Small devices (≥576px) */
@media (max-width: 576px) {
  
}
/* Small devices (≥576px) */
@media (min-width: 576px) and (max-width: 768px) {
  
}

/* Medium devices – Tablets (≥768px) */
@media (min-width: 768px) {
  
}

/* Large devices – Laptops (≥992px) */
@media (min-width: 992px) {
  
}

/* Extra large devices – Desktops (≥1200px) */
@media (min-width: 1200px) {
  
}
