*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}
a{
    font-size: 0.95rem;
}
/* navbar */
.navbar{
    width: 80%;
    padding: 1.5rem;
    margin: 0 auto;
}
.navbar_links{
    display:flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.links{
    display: flex;
    gap: 1.2rem;
    list-style: none;
}

.link a,.logo_link a{
    text-decoration: none;
    color:var(--link-color);
}

.link{
    cursor: pointer;
    transition: 0.5s ease all;
    color:var(--link-color);
    
    /* hover state */
    &:hover{
        color:var(--hovered-link-color)
    }
}

.active_link{
    color: var(--isActive-link-color);
}

.sectionActive{
    display: block;
}
.nav_menu i{
    cursor: pointer;
}

/* .nav_menu{
    display: none;
} */


/* sidebar */

.sidebar{
    width: 300px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: var(--btn-bg);
    z-index: 999;
    list-style: none;

    /* sidebar effect */
    transform: translateX(-100%);
    transition: transform 0.4s ease-in-out;

    /* keep visible for animation */
    display: block;
}
.sidebar.active{
    transform: translateX(0);
}

.sidebar_wrap{
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.sidebar-links{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.sidebar-link a{
    text-decoration: none;
}

.sidebar-link a,.close-sidebar{
    color: aliceblue;
    transition: 0.5s ease all;
    cursor: pointer;

    &:hover{
        color: rgb(255, 247, 172);
    }
}


.sidebar-header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.sidebar-header a{
    text-decoration: none;
    color: var(--text-color3);
    /* color:red; */
}
body.sidebar-open {
    overflow: hidden;
}


.image_wrap{
    width: 80%;
    height: 80%;
    margin: 0 auto;
    margin-top: -100px;
    border-radius: 20px;
}
 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 20px;
}
/* hero section */

.hero_section{
    width: 100%;
    height: 90vh;
    background-color: var(--color-surface);
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    text-align: center;
}
.content p{
    width: 70%;
    font-size: 0.95rem;
    color:var(--text-color2);
    margin: 0 auto;
}
.title{
    font-weight: 400;
    font-size: 1.8rem;
    color: var(--title-color);
}
.title em{
    color: var(--emphasize_color);
}
.ctn{
    padding: 8px 16px;
    background-color:  var(--btn-bg);
    border: none;
    border-radius: 5px;
    margin-top: 0.9rem;
    color: var(--btn-color);
    cursor: pointer;
    transition: 0.5s ease all;

    &:hover{
        background-color:  var(--hovered-link-color);
    }
}