/* navbar */
.navbar{
    width: 80%;
    padding: 1.5rem;
    margin: 0 auto;
}
.navbar_links{
    display:flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.links{
    display: flex;
    gap: 1.2rem;
    list-style: none;
}

.link a,.logo_link a{
    text-decoration: none;
}

.link a{
    cursor: pointer;
    transition: 0.5s ease all;
}
.link a:not(.login-btn){
    color:var(--link-color);
    /* hover state */
    &:hover{
        color:var(--hovered-link-color)
    }
}
.login-btn{
    border-radius: 5px;
    display: inline-block;
    width: 100px;
    padding: 8px 16px;
    background-color: rgb(0, 112, 126);
    color: aliceblue;
    text-align: center;

    /* hover state */
    &:hover{
        background-color: rgb(1, 128, 145);

    }
}
.active_link{
    color: var(--isActive-link-color);
}

.sectionActive{
    display: block;
}
.nav_menu i{
    cursor: pointer;
}

/* .nav_menu{
    display: none;
} */


/* sidebar */

.sidebar{
    width: 300px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: var(--btn-bg);
    z-index: 999;
    list-style: none;

    /* sidebar effect */
    transform: translateX(-100%);
    transition: transform 0.4s ease-in-out;

    /* keep visible for animation */
    display: block;
}
.sidebar.active{
    transform: translateX(0);
}

.sidebar_wrap{
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.sidebar-links{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.sidebar-link a{
    text-decoration: none;
}

.sidebar-link a,.close-sidebar{
    color: aliceblue;
    transition: 0.5s ease all;
    cursor: pointer;

    &:hover{
        color: rgb(255, 247, 172);
    }
}


.sidebar-header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.sidebar-header a{
    text-decoration: none;
    color: var(--text-color3);
    /* color:red; */
}
body.sidebar-open {
    overflow: hidden;
}
