.security_content_wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}
.security_section{
    padding-bottom: 10rem;
    padding-top: 10rem;
}

.security_list{
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 1;
    list-style: decimal-leading-zero;
}

.security_item{
    color: #616060;
    font-size: 18px;
}
.security_item strong{
    font-weight: 400;
    color: rgb(0, 69, 69);
}




/* =========================
   MEDIA QUERIES
   ========================= */
/* Small devices (≥576px) */
@media (max-width: 576px) {
    .security_section{
    padding-bottom: 4rem;
    padding-top: 4rem;
}
  .security_content_wrap{
    flex-direction: column;
}

}
/* Small devices (≥576px) */
@media (min-width: 576px) and (max-width: 768px) {
  
}

/* Medium devices – Tablets (≥768px) */
@media (min-width: 768px) {
  
}

/* Large devices – Laptops (≥992px) */
@media (min-width: 992px) {
  
}

/* Extra large devices – Desktops (≥1200px) */
@media (min-width: 1200px) {
  
}
