.success_stories_section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* background-color: rgb(0, 42, 42); */
}
.success_stories_container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 10rem;
    padding-bottom: 3rem;
}
.success_stories_grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 4rem;
    border-top: 1px solid #e0e0e0;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.image_wrapper{
    width: 100%;
}

.story_card {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.story_author{
    color: rgb(0, 74, 74);
}
.btn_wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}