.success_stories_section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    /* background-color: rgb(0, 42, 42); */
}
.success_stories_container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 10rem;
}
.success_stories_grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 4rem;
    border-top: 1px solid #e0e0e0;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.image_wrapper{
    width: 100%;
}